*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #D1B6E1;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(min-content, 0.5fr) (minmax(75px, 1fr))[12] minmax(5rem, 0.5fr);
      grid-template-columns: minmax(-webkit-min-content, 0.5fr) repeat(12, minmax(75px, 1fr)) minmax(5rem, 0.5fr);
      grid-template-columns: minmax(min-content, 0.5fr) repeat(12, minmax(75px, 1fr)) minmax(5rem, 0.5fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media screen and (max-width: 1500px) {
  body {
    background-color: #58C9B9;
  }
}

.dinner-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4 / 11;
  background-color: #eee;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.menu {
  text-align: center;
  font-size: 4rem;
  margin-top: 5rem;
}

.menu::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 2rem;
  border-bottom: 0.5rem solid #519d9e;
}

.menu-item {
  width: 90%;
  margin: 5rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item:last-child {
  margin-bottom: 5rem;
}

.day-of-the-week {
  padding: 0 3rem 0 0;
  width: 15rem;
  font-size: 2rem;
}

.entree__primary,
.entree__secondary {
  font-size: 2.5rem;
}

.entree__secondary {
  margin-top: 1rem;
}

.entree__primary-description,
.entree__secondary-description {
  font-size: 1.5rem;
}

@media screen and (max-width: 1500px) {
  .dinner-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    background-color: #eee;
    margin: 0.1rem 0;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
            box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
  }
  .menu-item {
    margin: 10rem auto 0 auto;
  }
  .day {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .day-of-the-week {
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
  }
  .entree__primary,
  .entree__secondary {
    font-size: 3rem;
  }
  .entree__primary-description,
  .entree__secondary-description {
    font-size: 1.5rem;
  }
}

.nav-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  grid-row: auto;
  background-color: #eee;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.logo-chat {
  max-width: 20rem;
  display: block;
  margin: 0 auto;
}

.logo::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 4rem;
  border-bottom: 0.5rem solid #519d9e;
}

.navbar li {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 4rem;
  margin: 3rem auto;
  list-style: none;
  padding: 0.5rem 0;
  font-size: 3rem;
  font-weight: 700;
}

.navbar li:first-child {
  margin-top: 3rem;
}

.navbar li:last-child {
  margin-bottom: 4rem;
}

.navbar li a {
  text-decoration: none;
  color: #101010;
}

.navbar li a:hover, .navbar li a:focus {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  border-bottom: 0.5rem solid #58C9B9;
}

.navbar li a:visited, .navbar li a:hover, .navbar li a:focus {
  text-decoration: none;
  color: #101010;
}

.current {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  border-bottom: 0.5rem solid #58C9B9;
}

@media screen and (max-width: 1500px) {
  .nav-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    background-color: #eee;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
            box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
    padding: 0 5rem;
  }
  .logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    margin-right: auto;
    padding: 1.5rem 0;
  }
  .logo-chat {
    max-width: 7.5rem;
    display: inline-block;
  }
  .logo::after {
    content: '';
    display: block;
    width: 0;
    padding-top: 0;
    border-bottom: none;
  }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar li {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 4rem;
    margin: 0rem;
    list-style: none;
    padding: 0 2rem;
    font-size: 2rem;
    font-weight: 700;
  }
  .navbar li:first-child {
    margin-top: 0;
  }
  .navbar li:last-child {
    margin-bottom: 0;
    padding-right: 0;
  }
  .navbar li a {
    text-decoration: none;
    color: #101010;
  }
  .navbar li a:hover, .navbar li a:focus {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    border-bottom: 0.5rem solid #58C9B9;
  }
  .navbar li a:visited, .navbar li a:hover, .navbar li a:focus {
    text-decoration: none;
    color: #101010;
  }
}

.groceries-container {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11 / 14;
  background-color: #eee;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.list {
  text-align: center;
  font-size: 4rem;
  margin-top: 5rem;
}

.list::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 2rem;
  border-bottom: 0.5rem solid #519d9e;
}

.list-container {
  padding: 0 1rem;
}

.category-first {
  font-size: 2rem;
  margin: 5rem 0 1.5rem 1rem;
}

.category {
  font-size: 2rem;
  margin: 2rem 0 1.5rem 1rem;
}

.grocery-item {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #9DC8C8;
  margin: 0.5rem 0.5rem;
  border-radius: .5rem;
  font-size: 1.25rem;
}

.grocery-item:hover, .grocery-item:active, .grocery-item:focus {
  background-color: #58C9B9;
}

.list-container-last {
  margin-bottom: 5rem;
  padding: 0 1rem;
}

@media screen and (max-width: 1500px) {
  .groceries-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    background-color: #eee;
    margin: 2rem 0 5rem 0;
    padding: 0 5rem;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
            box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
  }
  .category-first {
    font-size: 2.5rem;
    margin: 5rem 0 2rem 1rem;
  }
  .category {
    font-size: 2.5rem;
    margin: 2rem 0 2rem 1rem;
  }
  .grocery-item {
    display: inline-block;
    padding: 2rem 3.5rem;
    background-color: #9DC8C8;
    margin: 0.5rem 0.5rem;
    border-radius: .5rem;
    font-size: 1.85rem;
  }
}

.movies-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 10;
  grid-column: 4 / 14;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[6];
      grid-template-columns: repeat(6, minmax(10rem, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.main-movie {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/Harry-Potter.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/Harry-Potter.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.main-movie__title {
  color: #eee;
  font-size: 5rem;
  font-weight: 700;
  margin: 0 0 3rem 5rem;
  width: 50%;
  line-height: 1.3;
}

.main-movie__description {
  color: #eee;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 5rem 5rem;
  width: 65%;
}

.empty-space {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.sub-movie__title {
  color: #eee;
  font-size: 4rem;
  font-weight: 700;
  margin: 0 0 3rem 3rem;
  width: 65%;
  line-height: 1.3;
}

.sub-movie__description {
  color: #eee;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 0 5rem 3rem;
  width: 85%;
}

.sub-movies-container-asib {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/A-Star-Is-Born.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/A-Star-Is-Born.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.sub-movies-container-mask {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/The-Mask.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/The-Mask.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.sub-movies-container-fight {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/Fight-Club.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/Fight-Club.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.sub-movies-container-kubo {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/Kubo.jfif);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/Kubo.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.tv-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 10;
  grid-column: 4 / 14;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[6];
      grid-template-columns: repeat(6, minmax(10rem, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.tv-show {
  grid-column: span 3;
  background-color: #eee;
  height: 35rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
  overflow: hidden;
}

.tv-show__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  padding: 2rem;
}

.tv-show__image--contain {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tv-show__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tv-show__contents--title {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
}

.tv-show__contents--subtitle {
  font-size: 1.5rem;
}

.tv-show__contents--description {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.tv-show__image img {
  width: 100%;
}

.flexbox-container {
  grid-column: span 3;
  background-color: #eee;
  height: 30rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box1 {
  width: 50%;
  border: 1px solid black;
  overflow: hidden;
}

.box2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.btn {
  background-color: #9DC8C8;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 1rem 1.75rem;
  border-radius: 5px;
}

.btn:hover {
  background-color: #58C9B9;
}

.movie-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 3rem 3rem 0 0;
  display: inline-block;
  font-size: 1.75rem;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */