*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #D1B6E1;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(5rem, 0.5fr) (minmax(3rem, 1fr))[12] minmax(5rem, 0.5fr);
      grid-template-columns: minmax(5rem, 0.5fr) repeat(12, minmax(3rem, 1fr)) minmax(5rem, 0.5fr);
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

@media screen and (max-width: 1500px) {
  body {
    background-color: #58C9B9;
  }
}

@media screen and (max-width: 1260px) {
  body {
    background-color: lightgrey;
  }
}

@media screen and (max-width: 1000px) {
  body {
    background-color: rgba(192, 192, 37, 0.204);
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(2rem, 0.5fr) (minmax(2rem, 1fr))[12] minmax(2rem, 0.5fr);
        grid-template-columns: minmax(2rem, 0.5fr) repeat(12, minmax(2rem, 1fr)) minmax(2rem, 0.5fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

@media screen and (max-width: 650px) {
  body {
    background-color: lightsteelblue;
  }
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5rem (1fr)[12] 0.5rem;
        grid-template-columns: 0.5rem repeat(12, 1fr) 0.5rem;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

.dinner-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-column: 4 / 11;
  background-color: #eee;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.menu {
  text-align: center;
  font-size: 4rem;
  margin-top: 5rem;
}

.menu::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 2rem;
  border-bottom: 0.5rem solid #519d9e;
}

.menu-item {
  width: 90%;
  margin: 5rem auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-item:last-child {
  margin-bottom: 5rem;
}

.day-of-the-week {
  padding: 0 3rem 0 0;
  width: 15rem;
  font-size: 2rem;
}

.entree__primary,
.entree__secondary {
  font-size: 2.5rem;
}

.entree__secondary {
  margin-top: 1rem;
}

.entree__primary-description,
.entree__secondary-description {
  font-size: 1.5rem;
}

@media screen and (max-width: 1500px) {
  .dinner-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    background-color: #eee;
    margin: 0;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
            box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
  }
  .menu-item {
    margin: 10rem auto 0 auto;
  }
  .day {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .day-of-the-week {
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
  }
  .entree__primary,
  .entree__secondary {
    font-size: 3rem;
  }
  .entree__primary-description,
  .entree__secondary-description {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .menu {
    font-size: 3.5rem;
  }
  .day-of-the-week {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 650px) {
  .menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 5rem auto 0 auto;
  }
  .day {
    margin-bottom: 1rem;
  }
  .day-of-the-week {
    font-weight: 400;
  }
}

.nav-container {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  grid-row: auto;
  background-color: #eee;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
  z-index: 5;
}

@media screen and (min-width: 1000px) {
  .nav-container {
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
  }
}

.logo-chat {
  max-width: 20rem;
  display: block;
  margin: 0 auto;
}

.logo::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 4rem;
  border-bottom: 0.5rem solid #519d9e;
}

.navbar li {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 4rem;
  margin: 3rem auto;
  list-style: none;
  padding: 0.5rem 0;
  font-size: 3rem;
  font-weight: 700;
}

.navbar li:first-child {
  margin-top: 3rem;
}

.navbar li:last-child {
  margin-bottom: 4rem;
}

.navbar li a {
  text-decoration: none;
  color: #101010;
}

.navbar li a:hover, .navbar li a:focus {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  border-bottom: 0.5rem solid #58C9B9;
}

.navbar li a:visited, .navbar li a:hover, .navbar li a:focus {
  text-decoration: none;
  color: #101010;
}

.current {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  border-bottom: 0.5rem solid #58C9B9;
}

@media screen and (max-width: 1500px) {
  .nav-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    background-color: #eee;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
            box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
    padding: 0 5rem;
  }
  .logo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    margin-right: auto;
    padding: 1.5rem 0;
  }
  .logo-chat {
    max-width: 7.5rem;
    display: inline-block;
  }
  .logo::after {
    content: '';
    display: block;
    width: 0;
    padding-top: 0;
    border-bottom: none;
  }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar li {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    height: 4rem;
    margin: 0rem;
    list-style: none;
    padding: 0 2rem;
    font-size: 2rem;
    font-weight: 700;
  }
  .navbar li:first-child {
    margin-top: 0;
  }
  .navbar li:last-child {
    margin-bottom: 0;
    padding-right: 0;
  }
  .navbar li a {
    text-decoration: none;
    color: #101010;
  }
  .navbar li a:hover, .navbar li a:focus {
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    border-bottom: 0.5rem solid #58C9B9;
  }
  .navbar li a:visited, .navbar li a:hover, .navbar li a:focus {
    text-decoration: none;
    color: #101010;
  }
}

@media screen and (max-width: 1000px) {
  .nav-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    background-color: rgba(0, 0, 0, 0);
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
    padding: 0 5rem;
  }
  .navbar {
    display: none;
  }
}

.groceries-container {
  -ms-grid-column: 11;
  -ms-grid-column-span: 3;
  grid-column: 11 / 14;
  background-color: #eee;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.list {
  text-align: center;
  font-size: 4rem;
  margin-top: 5rem;
}

.list::after {
  content: '';
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 2rem;
  border-bottom: 0.5rem solid #519d9e;
}

.list-container {
  padding: 0 1rem;
}

.category-first {
  font-size: 2rem;
  margin: 5rem 0 1.5rem 1rem;
}

.category {
  font-size: 2rem;
  margin: 2rem 0 1.5rem 1rem;
}

.grocery-item {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: #9DC8C8;
  margin: 0.5rem 0.5rem;
  border-radius: .5rem;
  font-size: 1.25rem;
}

.grocery-item:hover, .grocery-item:active, .grocery-item:focus {
  background-color: #58C9B9;
}

.list-container-last {
  margin-bottom: 5rem;
  padding: 0 1rem;
}

@media screen and (max-width: 1500px) {
  .groceries-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    background-color: #eee;
    margin: 2rem 0 5rem 0;
    padding: 0 5rem;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
            box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
  }
  .category-first {
    font-size: 2.5rem;
    margin: 5rem 0 2rem 1rem;
  }
  .category {
    font-size: 2.5rem;
    margin: 2rem 0 2rem 1rem;
  }
  .grocery-item {
    display: inline-block;
    padding: 2rem 3.5rem;
    background-color: #9DC8C8;
    margin: 0.5rem 0.5rem;
    border-radius: .5rem;
    font-size: 1.85rem;
  }
}

@media screen and (max-width: 1000px) {
  .grocery-item {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 650px) {
  .groceries-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    padding: 0.5rem;
  }
  .grocery-item {
    font-size: 1.25rem;
  }
}

.movies-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 10;
  grid-column: 4 / 14;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[6];
      grid-template-columns: repeat(6, minmax(10rem, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.main-movie {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/Harry-Potter.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/Harry-Potter.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.main-movie__title {
  color: #eee;
  font-size: 5rem;
  font-weight: 700;
  margin: 0 0 3rem 5rem;
  width: 50%;
  line-height: 1.3;
}

.main-movie__description {
  color: #eee;
  font-size: 2rem;
  font-weight: 400;
  margin: 0 0 5rem 5rem;
  width: 65%;
}

.main-movie__overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.empty-space {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.btn-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.sub-movie__title {
  color: #eee;
  font-size: 4rem;
  font-weight: 700;
  margin: 0 0 3rem 3rem;
  width: 65%;
  line-height: 1.3;
}

.sub-movie__description {
  color: #eee;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0 0 5rem 3rem;
  width: 85%;
}

.sub-movies-container-asib {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/A-Star-Is-Born.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/A-Star-Is-Born.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.sub-movies-container-mask {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/The-Mask.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/The-Mask.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.sub-movies-container-fight {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/Fight-Club.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/Fight-Club.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.sub-movies-container-kubo {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/Kubo.jfif);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/Kubo.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

@media screen and (max-width: 1500px) {
  .movies-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    margin: 0;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10rem, 1fr))[6];
        grid-template-columns: repeat(6, minmax(10rem, 1fr));
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .main-movie {
    grid-column: 1 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 50rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(81, 157, 158, 0.6))), url(/img/Harry-Potter.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(81, 157, 158, 0.6)), url(/img/Harry-Potter.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem;
    -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
            box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
  }
  .main-movie__title {
    color: #eee;
    font-size: 5rem;
    font-weight: 700;
    margin: 0 0 3rem 5rem;
    width: 75%;
    line-height: 1.3;
  }
  .main-movie__description {
    color: #eee;
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 5rem 5rem;
    width: 65%;
  }
  .sub-movies-container-asib {
    grid-column: span 3;
  }
  .sub-movies-container-mask {
    grid-column: span 3;
  }
  .sub-movies-container-fight {
    grid-column: span 3;
  }
  .sub-movies-container-kubo {
    grid-column: span 3;
  }
}

@media screen and (max-width: 1000px) {
  .movies-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    margin: 0;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .main-movie {
    grid-column: 1 / -1;
  }
  .main-movie__title {
    color: #eee;
    font-size: 4rem;
    font-weight: 700;
    margin: 0 0 3rem 5rem;
    width: 75%;
    line-height: 1.3;
  }
  .main-movie__description {
    color: #eee;
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0 0 5rem 5rem;
    width: 65%;
  }
  .sub-movies-container-asib {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .sub-movies-container-mask {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .sub-movies-container-fight {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
  .sub-movies-container-kubo {
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2 / 6;
  }
}

@media screen and (max-width: 650px) {
  .sub-movies-container-asib {
    grid-column: -1 / 1;
  }
  .sub-movies-container-mask {
    grid-column: -1 / 1;
  }
  .sub-movies-container-fight {
    grid-column: -1 / 1;
  }
  .sub-movies-container-kubo {
    grid-column: -1 / 1;
  }
}

.tv-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 10;
  grid-column: 4 / 14;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[6];
      grid-template-columns: repeat(6, minmax(10rem, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.tv-show {
  grid-column: span 3;
  background-color: #eee;
  height: 35rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.tv-show__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  padding: 2rem;
}

.tv-show__image--contain {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.tv-show__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tv-show__contents--title {
  font-size: 3.5rem;
  font-weight: 700;
  margin: 1rem 0 0 0;
}

.tv-show__contents--subtitle {
  font-size: 1.5rem;
}

.tv-show__contents--description {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.tv-show__image img {
  width: 100%;
}

.flexbox-container {
  grid-column: span 3;
  background-color: #eee;
  height: 30rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box1 {
  width: 50%;
  border: 1px solid black;
}

.box2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media screen and (max-width: 1500px) {
  .tv-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    margin: 0;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10rem, 1fr))[6];
        grid-template-columns: repeat(6, minmax(10rem, 1fr));
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .tv-show__contents--title {
    font-size: 3rem;
  }
  .tv-show__contents--description {
    font-size: 1.7rem;
  }
}

.cookbook-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 10;
  grid-column: 4 / 14;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[6];
      grid-template-columns: repeat(6, minmax(10rem, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.monthly {
  grid-column: 1 / -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  min-height: 50rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(/img/gochujang-chicken.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/img/gochujang-chicken.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
  margin-bottom: 2rem;
}

.monthly-feature {
  background-color: #58C9B9;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 0 0 0 7.5%;
  padding: 3.5rem;
  border-radius: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  text-transform: uppercase;
}

.monthly-feature h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.monthly-recipe {
  background-color: #e4e4e4;
  width: 30%;
  padding: 5rem 7.5rem;
  margin: 0 0 5.5% 7.5%;
  z-index: 1;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(88, 88, 88, 0.714);
          box-shadow: 0.5rem 0.3rem 1rem rgba(88, 88, 88, 0.714);
}

.monthly-recipe h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

.weekly {
  grid-column: span 2;
  background-color: #e4e4e4;
  height: 50rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
  margin-bottom: 2rem;
}

.weekly__image {
  height: 30rem;
}

.weekly__html-image {
  height: 30rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.weekly__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20rem;
  padding: 2rem 4rem;
}

.weekly__title h2 {
  font-size: 2.5rem;
}

.weekly__author {
  font-size: 1.8rem;
}

.weekly__time-req {
  font-size: 1.5rem;
  margin-top: auto;
}

.weekly__overflow-ellipsis {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1500px) {
  .cookbook-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    margin: 0;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
  .monthly {
    grid-column: 1 / -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: 50rem;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url(/img/gochujang-chicken.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/img/gochujang-chicken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .5rem;
    -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
            box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
    margin-bottom: 2rem;
  }
  .weekly {
    grid-column: span 3;
  }
}

@media screen and (max-width: 1000px) {
  .monthly-feature {
    background-color: #58C9B9;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 0 0 10.5%;
    padding: 3.5rem;
    border-radius: 50%;
    -webkit-transform: translate(-50%, 50%);
            transform: translate(-50%, 50%);
    z-index: 2;
    text-transform: uppercase;
  }
  .monthly-feature h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;
  }
  .monthly-recipe {
    grid-column: span 2;
    background-color: #e4e4e4;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    width: 85%;
    border-radius: .5rem;
    -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
            box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
    margin-bottom: 2rem;
  }
  .weekly {
    grid-column: 1 / -1;
  }
}

.recipes-container {
  -ms-grid-column: 4;
  -ms-grid-column-span: 10;
  grid-column: 4 / 14;
  margin: 10rem 0;
  border-radius: .5rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10rem, 1fr))[6];
      grid-template-columns: repeat(6, minmax(10rem, 1fr));
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.recipe-picture {
  grid-column: -1 / 1;
  height: 50rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.recipe-picture__html-image {
  width: 100%;
  height: 50rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: .5rem;
}

.recipe-content {
  grid-column: -1 / 1;
  padding: 2rem;
  margin: 2rem 0;
  background-color: #eeeeee;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.recipe-content__title {
  font-size: 4rem;
  max-width: 85%;
  margin-bottom: 1rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #58C9B9;
          text-decoration-color: #58C9B9;
}

.recipe-content__yield, .recipe-content__time {
  font-size: 1.6rem;
}

.recipe-content__time {
  margin-bottom: 2rem;
}

.recipe-content__description {
  font-size: 2rem;
}

.recipe-content__notes--header {
  font-size: 3rem;
  text-decoration: underline;
  -webkit-text-decoration-color: #58C9B9;
          text-decoration-color: #58C9B9;
  margin: 2rem 0;
}

.recipe-content__notes--description {
  font-size: 2rem;
}

.recipe-ingredients {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  background-color: rgba(224, 255, 255, 0.507);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: sticky;
  position: -webkit-sticky;
  top: 2rem;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.recipe-ingredients__header {
  display: inline-block;
  font-size: 3rem;
  padding-top: 1rem;
  margin: 0 0 3rem 2rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  border-bottom: 0.5rem solid #58C9B9;
}

.recipe-ingredients__list {
  list-style: none;
}

.recipe-ingredients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
}

.recipe-ingredients__item:first-child {
  padding-top: 0rem;
}

.recipe-ingredients__quantity {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2;
}

.recipe-ingredients__name {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.8rem;
  line-height: 1.2;
}

.recipe-preparation {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / 7;
  background-color: #eee;
  border-radius: .5rem;
  -webkit-box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
          box-shadow: 0.5rem 0.3rem 1rem rgba(128, 126, 126, 0.712);
}

.recipe-preparation__ingredients-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.recipe-preparation__header {
  display: inline-block;
  font-size: 3rem;
  padding-top: 1rem;
  margin: 0 0 3rem 2rem;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  border-bottom: 0.5rem solid #58C9B9;
}

.recipe-preparation__step {
  padding: 2rem;
  list-style: none;
}

.recipe-preparation__step:first-child {
  padding-top: 0;
}

.recipe-preparation__step-order {
  font-size: 2.5rem;
}

.recipe-preparation__instruction {
  font-size: 1.8rem;
}

@media screen and (max-width: 1500px) and (min-width: 1000px) {
  .recipe-ingredients {
    position: sticky;
    position: -webkit-sticky;
    top: 15rem;
  }
}

@media screen and (max-width: 1500px) {
  .recipes-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 12;
    grid-column: 2 / 14;
    margin: 0;
    border-radius: .5rem;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(10rem, 1fr))[6];
        grid-template-columns: repeat(6, minmax(10rem, 1fr));
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

.btn {
  background-color: #9DC8C8;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 1rem 1.75rem;
  border-radius: 5px;
}

.btn:hover {
  background-color: #58C9B9;
}

.recipe-btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 1.75rem;
  border-radius: 5px;
  margin-right: 1rem;
}

.recipe-btn--fat {
  background-color: #FFFFD8;
}

.recipe-btn--spice {
  background-color: #FF9AA2;
}

.recipe-btn--veggie {
  background-color: #B5EAD7;
}

.recipe-btn--meat {
  background-color: #C7CEEA;
}

.recipe-btn--equip {
  background-color: #666;
}

.movie-btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 3rem 3rem 0 0;
  display: inline-block;
  font-size: 1.75rem;
  text-decoration: none;
}

@media screen and (max-width: 650px) {
  .btn-container {
    margin-top: 0;
  }
  .btn {
    background-color: #9DC8C8;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding: 0.5rem 1.25rem;
    border-radius: 5px;
  }
  .btn:hover {
    background-color: #58C9B9;
  }
}

/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT license
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */
body {
  overflow-x: hidden;
  /* needed because hiding the menu on the right side is not perfect,  */
}

.hamburger-link {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.hamburger-link:hover {
  color: #58C9B9;
}

#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
  * Just a quick hamburger
  */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #519d9e;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #519d9e;
}

/*
  * But let's hide the middle one.
  */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
  * Ohyeah and the last one should go the other direction
  */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

/*
  * Make this absolute positioned
  * at the top left of the screen
  */
#menu {
  position: absolute;
  width: 40rem;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  border-radius: 5px;
  background: #D1B6E1;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 3rem;
}

/*
  * And let's fade it in from the left
  */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

@media screen and (min-width: 1000px) {
  #menuToggle {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */