.cookbook-container {
    grid-column: 4 / 14;
    margin: 10rem 0;
    border-radius: .5rem;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(6, minmax(10rem, 1fr));
    column-gap: 2rem;
}

.monthly {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 50rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/img/gochujang-chicken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: .5rem;
    box-shadow: .5rem .3rem 1rem rgba(128, 126, 126, 0.712);
    margin-bottom: 2rem;
}

.monthly-feature {
    background-color: $secondary-color;
    width: min-content;
    margin: 0 0 0 7.5%;
    padding: 3.5rem;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    text-transform: uppercase;

    & h3 {
        // Recipe of the Month sticker
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.2;
    }
}

.monthly-recipe {
    background-color: #e4e4e4;
    width: 30%;
    padding: 5rem 7.5rem;
    margin: 0 0 5.5% 7.5%;
    z-index: 1;
    border-radius: .5rem;
    box-shadow: .5rem .3rem 1rem rgba(88, 88, 88, 0.714);

    & h2 {
        font-size: 2.5rem;
        font-weight: 700;
    }
}

.weekly {
    grid-column: span 2;
    background-color: #e4e4e4;
    height: 50rem;
    border-radius: .5rem;
    box-shadow: .5rem .3rem 1rem rgba(128, 126, 126, 0.712);
    margin-bottom: 2rem;

    &__image {
        height: 30rem;
    }

    &__html-image {
        height: 30rem;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        height: 20rem;
        padding: 2rem 4rem;
    }

    &__title h2 {
        font-size: 2.5rem;
    }

    &__author {
        font-size: 1.8rem;
    }

    &__time-req {
        font-size: 1.5rem;
        margin-top: auto;
    }

    &__overflow-ellipsis {
        // overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

@media screen and (max-width: 1500px) {
    .cookbook-container {
        grid-column: 2 / 14;
        margin: 0;
        border-radius: .5rem;
        height: min-content;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 2rem;
    }

    .monthly {
        grid-column: 1 / -1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 50rem;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(/img/gochujang-chicken.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: .5rem;
        box-shadow: .5rem .3rem 1rem rgba(128, 126, 126, 0.712);
        margin-bottom: 2rem;
    }

    .weekly {
        grid-column: span 3;
    }
}

@media screen and (max-width: 1000px) {
    .monthly-feature {
        background-color: $secondary-color;
        width: min-content;
        margin: 0 0 0 10.5%;
        padding: 3.5rem;
        border-radius: 50%;
        transform: translate(-50%, 50%);
        z-index: 2;
        text-transform: uppercase;

        & h3 {
            // Recipe of the Month sticker
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.2;
        }
    }

    .monthly-recipe {
        grid-column: span 2;
        background-color: #e4e4e4;
        height: min-content;
        width: 85%;
        border-radius: .5rem;
        box-shadow: .5rem .3rem 1rem rgba(128, 126, 126, 0.712);
        margin-bottom: 2rem;
    }

    .weekly {
        grid-column: 1 / -1;
    }
}

// .highlight-monthly {
//     grid-column: 1 / -1;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-end;
//     min-height: 50rem;
//     background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(81, 157, 158, 0.3)), url(/img/gochujang-chicken.jpg);
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     border-radius: .5rem;
//     box-shadow: .5rem .3rem 1rem rgba(128, 126, 126, 0.712);
// }

// .highlight-monthly .card {
//     &__ingredient--title {
//         font-size: 4rem;
//         margin-bottom: auto;
//     }

//     &__ingredient--header {
//         font-size: 2.5rem;
//     }

//     &__ingredient {
//         font-size: 1.3rem;
//     }

//     &__prep--title {
//         font-size: 2.5rem;
//         margin-top: auto;
//     }

//     &__prep--step {
//         font-size: 2rem;
//     }

//     &__prep {
//         font-size: 1.5rem;
//     }
// }

// .highlight-monthly .ingredients-container {
//     display: flex;
//     flex-direction: column;
//     flex: 1 0 35%;
// }

// .highlight-monthly .preparation-container {
//     display: flex;
//     flex-direction: column;