.nav-container {
    grid-column: 2 / 4;
    grid-row: auto;
    background-color: #eee;
    margin: 10rem 0;
    border-radius: .5rem;
    height: min-content;
    box-shadow: .5rem .3rem 1rem rgba(128, 126, 126, 0.712);
    z-index: 5;
}

@media screen and (min-width: 1000px) {
    .nav-container {
        position: sticky;
        position: -webkit-sticky;
        top: 2rem;
    }
}


.logo-chat {
    max-width: 20rem;
    display: block;
    margin: 0 auto;
}

.logo::after {
    content: '';
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 4rem;
    border-bottom: .5rem solid $primary-color;
}

//     position: absolute;
//     height: 1rem;
//     width: 50%;
//     bottom: -1rem;
//     display: block;
//     margin: 0 auto;
//     background-color: $primary-color;
//     z-index: -1;
// }

.navbar li {
    width: min-content;
    height: 4rem;
    margin: 3rem auto;
    list-style: none;
    padding: 0.5rem 0;
    font-size: 3rem;
    font-weight: 700;

    &:first-child {
        margin-top: 3rem;
    }

    &:last-child {
        margin-bottom: 4rem;
    }
}

.navbar li a {
    text-decoration: none;
    color: $black;

    &:hover,
    &:focus {
        min-width: min-content;
        border-bottom: .5rem solid $secondary-color;
    }

    &:visited,
    &:hover,
    &:focus {
        text-decoration: none;
        color: $black;
    }
}

.current {
    min-width: min-content;
    border-bottom: .5rem solid $secondary-color;
}

@media screen and (max-width: 1500px) {
    .nav-container {
        grid-column: 2 / 14;
        background-color: #eee;
        border-radius: .5rem;
        height: min-content;
        box-shadow: .5rem .3rem 1rem rgba(128, 126, 126, 0.712);
        display: flex;
        align-items: center;
        margin: 2rem 0;
        padding: 0 5rem; //to match the 5rem left and right gutters
    }

    .logo {
        width: fit-content;
        margin: 0;
        margin-right: auto;
        padding: 1.5rem 0;
    }

    .logo-chat {
        max-width: 7.5rem;
        display: inline-block;
    }

    .logo::after {
        content: '';
        display: block;
        width: 0;
        padding-top: 0;
        border-bottom: none;
    }

    .navbar ul {
        display: flex;
    }

    .navbar li {
        width: min-content;
        height: 4rem;
        margin: 0rem;
        list-style: none;
        padding: 0 2rem;
        font-size: 2rem;
        font-weight: 700;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
            padding-right: 0;
        }
    }

    .navbar li a {
        text-decoration: none;
        color: $black;

        &:hover,
        &:focus {
            min-width: min-content;
            border-bottom: .5rem solid $secondary-color;
        }

        &:visited,
        &:hover,
        &:focus {
            text-decoration: none;
            color: $black;
        }
    }
}

@media screen and (max-width: 1000px) {
    .nav-container {
        grid-column: 2 / 14;
        background-color: rgba(0, 0, 0, 0);
        border-radius: .5rem;
        height: min-content;
        box-shadow: none;
        display: flex;
        align-items: center;
        margin: 2rem 0;
        padding: 0 5rem; //to match the 5rem left and right gutters
    }

    .navbar {
        display: none;
    }
}