.recipes-container {
    grid-column: 4 / 14;
    margin: 10rem 0;
    border-radius: .5rem;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(6, minmax(10rem, 1fr));
    column-gap: 2rem;
}

.recipe-picture {
    grid-column: -1 / 1;
    box-shadow: .5rem .3rem 1rem rgba(128, 126, 126, 0.712);

    &__html-image {
        width: 100%;
        height: 50rem;
        object-fit: cover;
        object-position: center;
        border-radius: .5rem;
    }
}

.recipe-title {
    grid-column: -1 / 1;
    padding: 2rem;
    margin: 2rem 0;
    background-color: #eeeeee;
    border-radius: .5rem;
    box-shadow: .5rem .3rem 1rem rgba(128, 126, 126, 0.712);
}


.recipe-ingredients {
    grid-column: 1 / 3;
    background-color: lightcyan;
    height: min-content;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.recipe-preparation {
    grid-column: 3 / 7;
    background-color: lightgoldenrodyellow;
}




@media screen and (max-width: 1500px) {
    .recipes-container {
        grid-column: 2 / 14;
        margin: 0;
        border-radius: .5rem;
        height: min-content;
        display: grid;
        grid-template-columns: repeat(6, minmax(10rem, 1fr));
        column-gap: 2rem;
    }
}