.btn {
    background-color: $tertiary-color;
    width: min-content;
    padding: 1rem 1.75rem;
    border-radius: 5px;

    &:hover {
        background-color: $secondary-color;
    }
}

.recipe-btn {
    width: max-content;
    padding: 1rem 1.75rem;
    border-radius: 5px;
    margin-right: 1rem;

    &--fat {
        background-color: $recipe-btn-fat;
    }

    &--spice {
        background-color: $recipe-btn-spice;
    }

    &--veggie {
        background-color: $recipe-btn-veggie;
    }

    &--meat {
        background-color: $recipe-btn-meat;
    }

    &--equip {
        background-color: $recipe-btn-equip;
    }
}


.movie-btn {
    align-self: flex-end;
    margin: 3rem 3rem 0 0;
    display: inline-block;
    font-size: 1.75rem;
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    .btn-container {
        margin-top: 0;
    }

    .btn {
        background-color: $tertiary-color;
        width: min-content;
        padding: 0.5rem 1.25rem;
        border-radius: 5px;

        &:hover {
            background-color: $secondary-color;
        }
    }
}