$background-color: #D1B6E1;
$primary-color: #519d9e;
$secondary-color: #58C9B9;
$tertiary-color: #9DC8C8;
$black: #101010;

$recipe-btn-fat: #FFFFD8;
$recipe-btn-spice: #FF9AA2;
$recipe-btn-veggie: #B5EAD7;
$recipe-btn-meat: #C7CEEA;
$recipe-btn-equip: #666;

body {
    background-color: $background-color;
}